name: Docker Image (GHCR Test)

on:
  workflow_dispatch:
  push:
    branches:
      - init
      - develop
      - master
      - release/**
    tags:
      - '*.*.*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push with Bake
        uses: docker/bake-action@v6
        with:
          files: |
            ./docker-bake.hcl
          set: |
            backend.tags=ghcr.io/${{ github.repository_owner }}/notification-services-backend:${{ github.sha }}
            frontend.tags=ghcr.io/${{ github.repository_owner }}/notification-services-frontend:${{ github.sha }}
          push: true
        
